1.boolean

In [2]:
a = 2000
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [3]:
x = "Hello"
y = 15

print(bool(x))#same as print(bool("Hello"))
print(bool(y))#same as print(bool(15))
print(bool(["apple", "cherry", "banana"]))
'''
Any string is True, except empty strings.
Any number is True, except 0.
Any list, tuple, set, and dictionary are True, except empty ones.
'''

True
True
True

'\nAny string is True, except empty strings.\nAny number is True, except 0.\nAny list, tuple, set, and dictionary are True, except empty ones.\n'

In [5]:
#The following will return False:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [6]:
class myclass():
  def __len__(self): #if you have an object that is made from a class with a __len__ function that returns 0 or False:
    return 0

myobj = myclass()
print(bool(myobj))

False

In [7]:
x = 200
print(isinstance(x, int))
'''
isinstance() function, which can be used to determine if an object is of a certain data type
'''

True

'\nisinstance() function, which can be used to determine if an object is of a certain data type\n'

2.Operators

In [9]:
x = 12
y = 3

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y) #Modulus
print(x ** y) #x^y   Exponentiation
print(x // y) #Floor division

'''
the difference between / and //
x, y = 7, 3

# Regular division(/)
print(x / y)   # Output: 2.3333333333333335

# Floor division (//)
print(x // y)  # Output: 2

x, y = -7, 3

# Regular division
print(x / y)   # Output: -2.3333333333333335

# Floor division
print(x // y)  # Output: -3 (floored towards -∞)

'''

15
9
36
4.0
0
1728
4

In [11]:
x = 5

x |= 3

print(x)
'''
|= means binary
the binary of 5 is 0101;
the binary of 3 is 0011;
  0101  (binary of 5)  
| 0011  (binary of 3)
------
  0111  (result in binary = 7 in decimal)
RULE:A bitwise OR compares the bits of both numbers. 
  If either bit in a position is 1, the result bit is 1; otherwise, it is 0.
'''

7

''

In [ ]:
x = 5

x >>= 3

print(x)

In [ ]:
x = 5

x <<= 3

print(x)

In [ ]:
print(x := 3)

2.2 and, or ,not 

In python,we use and ,or instead of && and||

In [13]:

x = 5

print(not(x > 3 and x < 10))
# returns False because not is used to reverse the result

print(x > 3 or x < 4)
# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

print(not(x > 3 and x < 10))
# returns False because not is used to reverse the result

False
True
False

2.3 is ,is not,==,!=

In [15]:


x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
# returns True because z is the same object as x

print(x is y)
# returns False because x is not the same object as y, even if they have the same content

print(x == y)
# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

print(x is not z)
# returns False because z is the same object as x

print(x is not y)
# returns True because x is not the same object as y, even if they have the same content

print(x != y)
# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

'''
the difference between "is" and  "=="
is compares whether two objects are the same object in memory
== Compares whether the values of two objects are equal.
'''

True
False
True
False
True
False

''

2.4  x in y and x not in y

In [16]:

x = ["apple", "banana"]

print("banana" in x)
print("pineapple" not in x)

True
True

In [ ]:
## &, |, ^, ~
print(6 & 3)
#The & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:

print(6 | 3)
#The | operator compares each bit and set it to 1 if one or both is 1, otherwise it is set to 0:

print(6 ^ 3)

#The ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:

print(~3)
#The ~ operator inverts each bit (0 becomes 1 and 1 becomes 0).

3.List(Use square brackets方括号)

List -- items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], and the 

list items can be any data type


Tuple -- is a collection which is ordered and unchangeable. Allows duplicate members.

Set -- is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

Dictionary -- is a collection which is ordered** and changeable. No duplicate members.

3.0 List Methods

In [ ]:
'''
List Methods
Method	        Description

append()--	    Adds an element at the end of the list

clear()--	        Removes all the elements from the list

copy()--        Returns a copy of the list

count()--	        Returns the number of elements with the specified value

extend()--	    Add the elements of a list (or any iterable), to the end of the current list

index()	--        Returns the index of the first element with the specified value

insert()--	    Adds an element at the specified position

pop()--	        Removes the element at the specified position

remove()--	    Removes the item with the specified value

reverse()--	    Reverses the order of the list

sort()--	        Sorts the list
'''

In [20]:
thislist = ["apple", "banana", "cherry"]
#the same as thislist = list(("apple", "banana", "cherry"))
print(thislist)
print(len(thislist)) #the length of the list
print(type(thislist)) #to determine the data type
print(thislist[1])

['apple', 'banana', 'cherry']
3
<class 'list'>

In [19]:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

3.2 Negative Indexing adn Range

Negative indexing means start from the end

-1 refers to the last item

In [23]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-1])
print(thislist[2:5]) #Remember that the first item is position 0,
#and note that the item in position 5 is NOT INCLUDED 

print(thislist[:4]) # the range will start at the first item to the number,NOT INCLUDED THE RIGHT 
print(thislist[2:]) # from 2 to the end --all the items
print(thislist[-4:-1]) #NOT INCLUDED THE RIGHT

mango
['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']

3.3 Check if Item Exists

thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

3.4 Change List Items

In [24]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [25]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

3.4 Insert Items 插入 --- insert()

In [26]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon") #(the index,the item you want to insert)
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

3.5 Append Items(add items to the end) --- append()

In [27]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [28]:
#To append elements from another list to the current list, use the extend() method.

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [29]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange") # The extend() method does not have to append lists,you can add any iterable object (tuples, sets, dictionaries etc.).
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

3.6 Remove List Items -- remove()

In [30]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [31]:
#If there are more than one item with the specified value, (the duplicate values)
# the remove() method removes the first occurrence:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

3.6.1 removes the specified index by using pop() adn del

In [35]:
#The pop() method removes the specified index.
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

#If you do not specify the index, the pop() method removes the last item.
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'cherry']
['apple', 'banana']

In [36]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

3.6.2 Clear the List -- clear()

The clear() method empties the list.

The list still remains, but it has no content.

In [37]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

3.7 Loop Lists 

3.7.1 using for loop

In [ ]:
#Print all items in the list, one by one:
thislist = ["apple", "banana", "cherry"]
for x in thislist: ## pay attention to the ":"
  print(x)

In [41]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

Loop Through the Index Numbers--Use the range() and len() functions to create a suitable iterable.

In [38]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

3.7.2 Using a While Loop

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [39]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

3.8 List Comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

newlist = [expression for item in iterable if condition == True]

In [47]:
#1.
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]
# you want a new list, containing only the fruits with the letter "a" in the name.

print(newlist)

#2.
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if x != "apple"] #Only accept items that are not "apple":

print(newlist)

#3.
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x.upper() for x in fruits]

print(newlist)

#4.
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = ['hello' for x in fruits]

print(newlist)

#5.
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x if x != "banana" else "orange" for x in fruits]
#Return "orange" instead of "banana"

print(newlist)

['apple', 'banana', 'mango']
['banana', 'cherry', 'kiwi', 'mango']
['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']
['hello', 'hello', 'hello', 'hello', 'hello']

In [45]:
#You can use the range() function to create an iterable:
newlist = [x for x in range(10)]
print(newlist)

newlist = [x for x in range(10) if x < 5]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]

3.9 Sort Lists---sort()

3.9.1 Sort List Alphanumerically

all capital letters being sorted before lower case letters （大写字母排在小写字母前）

In [49]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)


thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
[23, 50, 65, 82, 100]

In [52]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [53]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)
#use ' str.lower' to creat a case-insensitive sort function 
# (可不区分大小写，按字母表顺序排列)

['banana', 'cherry', 'Kiwi', 'Orange']

3.9.2  Sort Descending (降序排列)--reverse = True

In [50]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

3.9.3 Customize Sort Function(自定义排序)--key = function.

In [51]:
def myfunc(n):#Sort the list based on how close the number is to 50:
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

3.9.4 Reverse Order -- reverse()

In [55]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

3.10 Copy Lists--copy() or list() or ':' -- total 3 methods

In [57]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy() # same as mylist = list(thislist)
print(mylist)

thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

3.11 Join Lists

1.using the "+" operator
2.using .append()
3.using extend()

In [58]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [59]:
#By appending all the items --.append()
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [60]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

4. Tuples

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], Tuple items can be of any data type:

In [ ]:
'''
Tuple Methods
count()	   Returns the number of times a specified value occurs in a tuple
index()	   Searches the tuple for a specified value and returns the position of where it was found
'''

In [61]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
#Tuple Length
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

4.1 Create Tuple With One Item -- add a comma after the item

In [65]:
thistuple = ("apple",)
print(type(thistuple)) #<class 'tuple'>--is the type of tuple
print(thistuple)

<class 'tuple'>
('apple',)

4.2 The tuple() Constructor to make a tuple

In [66]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

4.3 Access Tuple Items (访问元素)

In [67]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

4.3.1 Negative Indexing

In [68]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

4.3.2 Range of Indexes

In [71]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])
print(thistuple[:4])
print(thistuple[2:])
print(thistuple[-4:-1]) #-4 included and -1 excluded

('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')
('cherry', 'orange', 'kiwi', 'melon', 'mango')
('orange', 'kiwi', 'melon')

4.3.3 Check if Item Exists --using "in"

In [72]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

4.4 Update Tuples

You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [73]:
x = ("apple", "banana", "cherry")
y = list(x) #convert tuple into a list
y[1] = "kiwi"
x = tuple(y) # convert list back in tuple

print(x)

('apple', 'kiwi', 'cherry')

4.4.1 Add Items

In [76]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [77]:
#Add tuple to a tuple
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

4.4.2 Remove Items

In [81]:
thistuple=("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
x=tuple(y)
print(x)

('banana', 'cherry')

In [82]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

4.5 Unpack Tuples

In [84]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [85]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits #If the number of variables is less than the number of values
#                               you can add an * to the variable name

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [86]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits #add asterrisk into another vatibale than the last

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

4.6 Loop Tuples

In [87]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

4.6.1 Loop Through the Index Numbers -- using the range() and len()

In [88]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

4.6.2 Using a While Loop

In [89]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

4.7 Join Two Tuples -- using the "+" operator

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

In [90]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2 # to multiply the content of a tuple bu using "*" operator

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

4.8 Tuple Method

4.8.1 count()--returns the number of times a specified value appears in the tuple.

In [145]:
tuple = ("apple","banana","banana")
x=tuple.count("banana")
print(x)

2

4.8.2 index()-- finds the first occurrence of the specified value.

In [146]:
tuple = (1,2,3,6,3,5,3)
x=tuple.index(3)
print(x)

2

5. Sets --are written with curly brackets.{ }

A set is a collection which is unordered, unchangeable*(but we can add or remove items), and unindexed.And do not allow duplicate values

Set items can be of any data type

In [107]:
thisset = {"apple", "banana", "cherry"}
print(thisset)
#Sets are unordered, so you cannot be sure in which order the items will appear.

thisset = set(("apple", "banana", "cherry")) 
# note the double round-brackets 
#using the set() constructor to make a set
print(thisset)

{'cherry', 'apple', 'banana'}
{'cherry', 'apple', 'banana'}

In [104]:
thisset = {"apple", "banana", "cherry", True, 1, 2}
# The values True and 1 are considered the same value in sets, and are treated as duplicates:
print(thisset)


thisset = {"apple", "banana", "cherry", False, True, 0}
#The values False and 0 are considered the same value in sets, and are treated as duplicates:
print(thisset)

{True, 2, 'cherry', 'apple', 'banana'}

In [106]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))
print(type(thisset)) #<class 'set'> is the type of set

3
<class 'set'>

5.1 Access Set Items--using a for loop

In [108]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
apple
banana

In [110]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)
print("banana" not in thisset)

True
False

5.2 Add Set Items --use the add() method

In [111]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'cherry', 'apple', 'banana'}

5.2.1 use the update() method to add items from another set or add any iterable(tuple,list,dictionaries)

In [112]:
#To add items from another set into the current set, use the update() method.
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'cherry', 'apple', 'banana', 'pineapple', 'mango', 'papaya'}

In [113]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'orange', 'apple', 'kiwi', 'cherry', 'banana'}

5.3 Remove Set Items --use the remove(), or the discard() method.

In [114]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana") #same as thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [117]:
thisset = {"apple", "banana", "cherry"}

del thisset #the del keyword will delete the set completely

print(thisset)

NameError: name 'thisset' is not defined

5.3.1 by using the pop() ,but this method will remove a random item

In [115]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'apple', 'banana'}

5.3.2 Clear the Set--output:set()

In [116]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

5.4 Loop Sets

In [118]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
    print(x)

cherry
apple
banana

5.5 Join Sets

In [ ]:
'''
The union() and update() methods joins all items from both sets.
Both union() and update() will exclude any duplicate items.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.
'''

1. Union( ) method--can be repalced by "|" operator

e.g. set1.union(set2)=set1 | set2

this method allows to join a set with other data types(tuoles,list,etc) .But  The  | operator only allows you to join sets with sets, and not with other data types

In [120]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2) #same as set3 = set1 | set2
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

In [122]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4) #same as myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'apple', 'bananas', 'John', 'c', 'Elena', 'cherry', 'b', 'a'}

In [123]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'c', 'b', 'a'}

2.update()-- use |=

In [136]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2) #same as set1 |= set2
print(set1)

{1, 2, 3, 'b', 'a', 'c'}

3. intersection()-- can use the & operator 

e.g. set1.intersection(set2)=set1 & set2

The values True and 1 are considered the same value. The same goes for False and 0.

In [125]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2) #same as set3 = set1 & set2
print(set3)

{'apple'}

In [126]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

use &=

In [129]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2) #same as set1 &= set2

print(set1)

{'apple'}

4. difference()--can use the - operator

In [127]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)#same as set3 = set1 - set2

print(set3)

{'cherry', 'banana'}

difference_update() method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

Use -=

In [132]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2) #the same as set1 -= set2

print(set1)

{'cherry', 'banana'}

5.symmetric_difference() -- can use the ^ operato

In [130]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)#the same as set3 = set1 ^ set2

print(set3)

{'microsoft', 'cherry', 'banana', 'google'}

The symmetric_difference_update() method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

use ^=

In [134]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2) #the same as set1 ^= set2

print(set1)

{'microsoft', 'cherry', 'banana', 'google'}

5.6 Set Method

5.6.1 copy()

In [137]:
thisset = {"apple", "banana", "cherry"}
x=thisset.copy()
print(x)

{'cherry', 'apple', 'banana'}

5.6.2 issubset()-- use  <=  instead of issubset()

In [141]:
x = {"apple", "banana", "cherry"}
y = {"apple","orange"}
z=x.issubset(y) #same as z = x <= y

print(z)

x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

False
True

5.6.3 issubperset()-- use >= 

returns True if all items in the specified set exists in the original set, otherwise it returns False

In [142]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y) #same as z = x >= y

print(z) #Return True if all items set y are present in set x:

True

5.6.4 isdisjoint()

returns True if none of the items are present in both sets, otherwise it returns False.

In [144]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.isdisjoint(y)

print(z)

True
False

6.Dictionaries-- ordered*, changeable and do not allow duplicates.（ cannot have two items with the same key:）

are written withcurly brackets { }

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

<class 'dict'>is the type of dictionary

In [150]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
print(len(thisdict))

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
3

use dict() to make a dictionary

In [151]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [149]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020 #Duplicate values will overwrite existing values:重复的值覆盖现有值
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

6.1 Access Items--square brackets ot get()

In [152]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"]) #use square brackets

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.get("model")
print(x)

Ford
Mustang

6.1.1 Get Keys by keys() method,it means that output all the keys

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.keys()
#The keys() method will return a list of all the keys in the dictionary.

print(x)

In [153]:
 #any changes done to the dictionary will be reflected in the keys list.
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

Check if key exists

In [158]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

6.1.2 Get Values by values(),it means that get all the values in the dict

In [154]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.values()

print(x)

dict_values(['Ford', 'Mustang', 1964])

In [155]:
#any changes done to the dictionary will be reflected in the values list.
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

6.1.3 Get Items by items()

In [156]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [157]:
#change in items 
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

6.2 Change Dictionary Items-- 

1.can change the value of a specific item by referring to its key name

2. by using update() method

In [159]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict["year"] = 2018

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [160]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

6.3 Add Items

1.by using a new index key and assigning a value to it

2.by uesing update() method

In [161]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [162]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

6.4 Remove Items

1.pop()-removes the item with the specified key name

2.popitem()-- removes the last inserted item

3.del()-removes the item with the specified key name

4.clear()--empties the dict

In [163]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model") #the same as : del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [164]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [165]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

6.5 Loop Dict

6.5.1 print all keys one by one -- print(x) or keys()

In [170]:
thisdict={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
    print(x) #Print all key names in the dictionary, one by one

brand
model
year

In [171]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.keys():
  print(x)

brand
model
year

6.5.2 print all values one by one -- print(thisdic[x]) or values()

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(thisdict[x])

In [172]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

6.5.3 print all items one by one -- items()

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x, y in thisdict.items():
  print(x, y)

6.6 Copy Dict--copy() method or dict()

In [174]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [173]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

6.7 Nested Dict--A dictionary can contain dictionaries, this is called nested dictionaries

In [175]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}#pay attention to the comas

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [176]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

6.7.1 Access Items in Nested Dict

In [177]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily["child2"]["name"])

Tobias

6.7.2 Loop Through Nested Dict--items() method

In [178]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

for x, obj in myfamily.items():
    print(x)
    
    for y in obj:
        print(y + ':', obj[y])
#the hardest one

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

6.8 Methods

6.8.1 fromkeys() method returns a dictionary with the specified keys and the specified value.

In [180]:
x = ('key1', 'key2', 'key3')
y = 0

thisdict = dict.fromkeys(x, y)


print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [179]:
x = ('key1', 'key2', 'key3')

thisdict = dict.fromkeys(x)

print(thisdict)

{'key1': None, 'key2': None, 'key3': None}

6.8.2 setdefault() method returns the value of the item with the specified key.

In [181]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco")

print(x)

Mustang

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("color", "White")
#If the key does not exist, insert the key, with the specified value

print(x)

6.7 If....Else

has whitespace at the beginning of the line:
for b > a:
    print("yes")

Elif----
The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition".

In [182]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

Else----The else keyword catches anything which isn't caught by the preceding conditions.捕获前面条件未捕获的任何内容

In [183]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

6.7.1 Short Hand if and if else

If you have only one statement to execute, one for if, and one for else, you can put it all on the same line:

In [185]:
a = 200
b = 33

if a > b: print("a is greater than b")

a is greater than b

In [186]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [187]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

6.7.2 And ---is used to combine conditional statements:

In [188]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

Or

In [189]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

Not

In [190]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

Nested if

In [191]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

6.7.3 The pass Statement

if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

In [192]:
a = 33
b = 200

if b > a:
  pass

# having an empty if statement like this, would raise an error without the pass statement

6.8 While Loop

In [193]:
i = 1
while i < 6:
  print(i)
  i += 1 
#remember to increment i, or else the loop will continue forever.

1
2
3
4
5

6.8.1 The Break Statement --we can stop the loop even if the while condition is true:

In [194]:
i = 1
while i < 6 :
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

6.8.2 The Continue Statement--we can stop the current iteration, and continue with the next:

In [195]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue #In the loop, when i is 3, jump directly to the next iteration
  print(i)

1
2
4
5
6

6.8.3 The Else Sratement--- we can run a block of code once when the condition no longer is true:

In [196]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

6.9 For loops

In [197]:
#looping through a string
for x in "banana":
    print(x)

b
a
n
a
n
a

6.9.1 The Break Statement--we can stop the loop before it has looped through all the items:

In [198]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break
  #Exit the loop when x is "banana"

apple
banana

In [199]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)
  #Exit the loop when x is "banana"
  #but this time the break comes before the print

apple

6.9.2 The Continue Statement--we can stop the current iteration of the loop, and continue with the next:

In [200]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue #skip it
  print(x)

apple
cherry

6.9.3 The range() function--The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

ranage(x,y) x is included,but y is excluded

In [201]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [202]:
for x in range(2 , 5):
  print(x)

2
3
4

range(start,stop,step)

In [206]:
for x in range(0,101,10):
    print(x)

0
10
20
30
40
50
60
70
80
90
100

6.9.4 Else in For Loop-- specifies a block of code to be executed when the loop is finished:指定循环完成时要执行的代码块：

The else block will NOT be executed if the loop is stopped by a break statement.如果循环被 break 语句停止，则 else 块将不会被执行。

In [207]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [208]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

6.9.5 Nested Loops--The "inner loop" will be executed one time for each iteration of the "outer loop":

In [209]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

6.9.6 The Pass Statement---for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [210]:
for x in [0, 1, 2]:
  pass