## Sets --are written with curly brackets.{ }

A set is a collection which is unordered, unchangeable*(but we can add or remove items), and unindexed.And do not allow duplicate values

Set items can be of any data type

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)
#Sets are unordered, so you cannot be sure in which order the items will appear.

thisset = set(("apple", "banana", "cherry")) 
# note the double round-brackets 
#using the set() constructor to make a set
print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry", True, 1, 2}
# The values True and 1 are considered the same value in sets, and are treated as duplicates:
print(thisset)


thisset = {"apple", "banana", "cherry", False, True, 0}
#The values False and 0 are considered the same value in sets, and are treated as duplicates:
print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))
print(type(thisset)) #<class 'set'> is the type of set

#### 1. Access Set Items--using a for loop

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)
print("banana" not in thisset)

#### 2. Add Set Items --use the add() method

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

* 5.2.1 use the update() method to add items from another set or add any iterable(tuple,list,dictionaries)

In [ ]:
#To add items from another set into the current set, use the update() method.
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

#### 3. Remove Set Items --use the remove(), or the discard() method.

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana") #same as thisset.discard("banana")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

del thisset #the del keyword will delete the set completely

print(thisset)

* by using the pop() ,but this method will remove a random item

In [ ]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

* Clear the Set--output:set()

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

#### 4.Loop Sets

In [ ]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
    print(x)

#### 5.Join Sets

In [ ]:
'''
The union() and update() methods joins all items from both sets.
Both union() and update() will exclude any duplicate items.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.
'''

* 5.1. Union( ) method--can be repalced by "|" operator

e.g. set1.union(set2)=set1 | set2

this method allows to join a set with other data types(tuoles,list,etc) .But  The  | operator only allows you to join sets with sets, and not with other data types

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2) #same as set3 = set1 | set2
print(set3)

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4) #same as myset = set1 | set2 | set3 |set4
print(myset)

In [ ]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

* 5.2.update()-- use |=

In [1]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2) #same as set1 |= set2
print(set1)

{1, 2, 3, 'c', 'b', 'a'}

* 5.3. intersection()-- can use the & operator 

e.g. set1.intersection(set2)=set1 & set2

The values True and 1 are considered the same value. The same goes for False and 0.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2) #same as set3 = set1 & set2
print(set3)

In [ ]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

* The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

use &=*

In [2]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2) #same as set1 &= set2

print(set1)

{'apple'}

* 5.4. difference()--can use the - operator

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)#same as set3 = set1 - set2

print(set3)

* difference_update() method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

Use -=

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2) #the same as set1 -= set2

print(set1)

* 5.5.symmetric_difference() -- can use the ^ operato

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)#the same as set3 = set1 ^ set2

print(set3)

* The symmetric_difference_update() method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

use ^=

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2) #the same as set1 ^= set2

print(set1)

#### 6.Set Methods

* 1. copy()

In [ ]:
thisset = {"apple", "banana", "cherry"}
x=thisset.copy()
print(x)

* 2. issubset()-- use  <=  instead of issubset()

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"apple","orange"}
z=x.issubset(y) #same as z = x <= y

print(z)

x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

* 3. issubperset()-- use >= 

returns True if all items in the specified set exists in the original set, otherwise it returns False

In [ ]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y) #same as z = x >= y

print(z) #Return True if all items set y are present in set x:

* 4. isdisjoint()

returns True if none of the items are present in both sets, otherwise it returns False.

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.isdisjoint(y)

print(z)