## Tuple

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], Tuple items can be of any data type:

In [ ]:
'''
Tuple Methods
count()	   Returns the number of times a specified value occurs in a tuple
index()	   Searches the tuple for a specified value and returns the position of where it was found
'''

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

In [ ]:
#Tuple Length
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

#### 1. Create Tuple With One Item -- add a comma after the item

In [1]:
thistuple = ("apple",)
print(type(thistuple)) #<class 'tuple'>--is the type of tuple
print(thistuple)

<class 'tuple'>
('apple',)

#### 2.The tuple() Constructor to make a tuple

In [ ]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

#### 3. Access Tuple Items (访问元素)

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

#### 4.Range of Indexes

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])
print(thistuple[:4])
print(thistuple[2:])
print(thistuple[-4:-1]) #-4 included and -1 excluded
print(thistuple[-1])

#### 4.Check if Item Exists --using "in"

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

#### 5.Update Tuples

You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x) #convert tuple into a list
y[1] = "kiwi"
x = tuple(y) # convert list back in tuple

print(x)

#### 6. Add Items

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

In [ ]:
#Add tuple to a tuple
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

#### 7. Remove Items

In [ ]:
thistuple=("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
x=tuple(y)
print(x)

In [5]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

#### 8.Unpack Tuples

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits #If the number of variables is less than the number of values
#                               you can add an * to the variable name

print(green)
print(yellow)
print(red)

In [2]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits #add asterrisk into another vatibale than the last

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

#### 9.Loop Tuples

In [ ]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

* 9.1 Loop Through the Index Numbers -- using the range() and len()

In [ ]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

* 9.2 Using a While Loop

In [ ]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

* 9.3  Join Two Tuples -- using the "+" operator

In [4]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [3]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2 # to multiply the content of a tuple bu using "*" operator

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

#### 10. Tuple Method

* 1. count()--returns the number of times a specified value appears in the tuple.

In [ ]:
tuple = ("apple","banana","banana")
x=tuple.count("banana")
print(x)

* 2. index()-- finds the first occurrence of the specified value.

In [ ]:
tuple = (1,2,3,6,3,5,3)
x=tuple.index(3)
print(x)